.layoutContent {
  margin: "0 auto";
  max-width: 960;
  padding: "0 1.0875rem 1.45rem";
  border: "1px solid red";
}

.footer {
  height: 50px;
  width: 100%;
  border: 1px solid darkgrey;
  position: fixed;
  left: 0;
  bottom: 0;
  background: grey;
  text-align: center;
  color: white;
}

.header {
  height: 70px;
  width: 100%;
  background: grey;
  color: white;
  display: flex;
  justify-content: space-between;
}

.header h2 {
  padding-top: 15px;
  padding-right: 50px;
}

.main {
  width: 960px;
  margin: auto;
  text-align: center;
}

.nav {
  display: flex;
  justify-content: space-evenly;
  width: 30%;
  padding-top: 20px;
}
